<app-navbar>
  <app-logo leftElement></app-logo>
  <app-note-adder-button rightElement></app-note-adder-button>
</app-navbar>

<main class="max-w-2xl mx-auto px-2 sm:px-0 pt-10">
  <ul class="grid grid-cols-1 sm:grid-cols-2 gap-3">
    <li *ngFor="let note of allNotes">
      <a routerLink="/n/{{ note.id }}">
        <article class="rounded-lg px-5 py-3 space-y-2 border border-gray-200">
          <h4 class="text-xl font-semibold">{{ note.title }}</h4>
          <p class="text-sm opacity-70">{{ note.content }}</p>

          <div class="text-right">
            <span class="text-sm opacity-50">{{ note.createdAt | date }}</span>
          </div>
        </article>
      </a>
    </li>
  </ul>
</main>
